<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Filler</title>

    <!-- bootstrap cdn -->
    <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="css/styles.css">

</head>

<body>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h1>Course Reminder</h1>
                        </div>
                        <form method="POST" action="/submit">
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Course Code" name="name1">
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" placeholder="Course Name" name="name2">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Link to Lecture">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" required placeholder="Day">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="date" required placeholder="MM/DD/YYYY">
                                    </div>
                                </div>
                            </div>
                            <div class="form-btn">
                                <button class="submit-btn" type="submit">Submit</button>
                                <button class="submit-btn" type="reset">Reset</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <!-- date / courseName / CourseCode/ Time / 
    AddButton/ ResetButton -->

    <!-- jquery -->
    <script type='text/javascript' src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <!-- popper  -->
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js'></script>
    <!-- bootstrap cdn  -->
    <script type='text/javascript' src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'></script>
    <script src="/js/script.js"></script>
</body>

</html>

<form>
    /submit
</form>

<form action="">
    route 2
</form>